@import "tailwindcss";

@theme {
    /* --color-customDark: #212120; */
    --color-customDark: #212121;
    --color-customLightBlack: #171717;
    --color-chatBoxColor: #303030;
    --color-hoverEffect: #515151;
    --color-chatColor: #323232;
    --color-hoverOnTopCard: #323232;
    --color-sideBarChat: #8F8F8F;
    --color-navbarChatGptText: #666666;
    --color-addFilesHover: #353535;
}